:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 42%);
  --darkGray: hsl(0, 0%, 7%);
  --font: "Figtree", sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--yellow);
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font);
}
p {
  font-size: 16px;
  margin: 0;
}
a {
  text-decoration: none;
}

.main {
  /* flex: 99; */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: var(--white);
  border: 1px solid var(--darkGray);
  width: min(380px, 90%);
  border-radius: 15px;
  padding: 20px;
  -webkit-box-shadow: 8px 8px 0px 0px var(--darkGray);
  -moz-box-shadow: 8px 8px 0px 0px var(--darkGray);
  box-shadow: 8px 8px 0px 0px var(--darkGray);
}
.card__img--article {
  max-width: 100%;
  border-radius: 10px;
}
.card__tag {
  margin: 20px 0 20px 0;
  background-color: var(--yellow);
  display: inline-block;
  font-weight: bolder;
  padding: 5px 15px;
  border-radius: 5px;
}
h1 a {
  color: var(--darkGray);
  font-weight: 800;
  font-size: 25px;
}
h1 a:hover {
  color: var(--yellow);
}
.card__description {
  color: var(--gray);
  line-height: 1.5;
}

.autor {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.autor__img {
  max-width: 35px;
  margin-right: 15px;
}
.autor__name {
  font-weight: 800;
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
